body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-page {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header {
  background-color: rgb(210, 210, 210);
}
.red {
  color: red;
}
.checkbox {
  display: flex;
  align-items: center;
}
.checkbox input {
  margin-left: 20px;
}
.search-div {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
